* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.game-scene {
    height: 100vh;
    max-height: -webkit-fill-available;
    min-width: 420px;
}

img {
    display: none;
}

#canvas {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    max-height: -webkit-fill-available;
    z-index: 3;
}

#canvas-timer {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    max-height: -webkit-fill-available;
    z-index: 2;
}

.timer {
    width: 100%;
    height: 50px;
    background-color: red;
}
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

